body{
    background-color: #5ca11a;
    text-align: center;
}

h1 {
    color: #000000;
}

input {
    padding: 7px;
}

button {

    padding: 10px;
    background-color: #29ca5a;
    color: black;
    margin-top: 10px;
}